<div class="displayBox" id="one"></div>
<div class="displayBox" id="two"></div>
<div class="displayBox" id="three"></div>
<div class="displayBox" id="four"></div>
<div class="displayBox" id="five"></div>
<div class="displayBox" id="six"></div>